activity {
    background: #fafafa;
}

activity img {
    width: 5vh;
    height: 5vh;
    position: relative;
    margin: 22vh auto 0 43%;
}

activity .activity__arrow_down {
    margin-top: 5%;
    transform: rotate(180deg);
}

.activity__arrow_down {
    transform: rotate(90deg);
}

.activity__header {
    position: absolute;
    background: url("../../assets/activities__header.svg") no-repeat;
    width: 100%;
    height: 35%;

}
