activity {
    background: #fafafa;
}

activity img {
    width: 5vh;
    height: 5vh;
    position: relative;
    margin: 22vh auto 0 43%;
}

activity .activity__arrow_down {
    margin-top: 5%;
    transform: rotate(180deg);
}

.activity__arrow_down {
    transform: rotate(90deg);
}


.activity__header {
    position: fixed;
    width: 100%;
    height: 20%;
    background: url("/assets/activity__header.png");
    background-position: 49% 32%;
    z-index: 999;
}

.activity__header h1 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 100%;
    float: left;
    height: auto;
    font-family: 'hind_madurai', serif;
    font-size: 40px;
    font-weight: 800;
    color: #09134B;
}


.activity__content {
    position: relative;
    width: 100%;
    height: 52%;
    overflow: hidden;
}

.content__wrapper {
    position: relative;
    width: 100%;
    height: auto;
    transition: margin .2s ease-in-out;
}

.activity__ind {
    position: relative;
    background: #f2f2f2;
    width: 92%;
    height: auto;
    margin: 4% 4% 0 4%;
    padding: 5%;
    color: #151515;
    line-height: 1.5;
    letter-spacing: .12em;
    font-family: 'hind_madurai', serif;
    border-radius: 10px;
}

.activity__ind h1 {
    width: 100%;
    float: left;
    height: auto;
    font-size: 30px;
    font-weight: 800;

}

.activity__ind p {
    width: 100%;
    float: left;
    font-size: 18px;
    height: auto;
    letter-spacing: 0.1px;

}
