nav {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background: #09134B;
}

.nav-buttons {
    margin: auto;
    width: auto;
    height: auto;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: .12em;
    font-family: 'hind_madurai', serif;
    color: white;
    cursor: pointer;
    text-align: center;
}
