nav {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background: #242b50;
}

.nav-buttons {
    width: 25%;
    height: 100%;
    font-size: 20px;
    line-height: 80px;
    font-weight: 600;
    text-align: center;
    letter-spacing: .12em;
    font-family: 'hind_madurai', serif;
    color: white;
    cursor: pointer;
    border-right: 1px #5c70e0 solid;
}

.nav-buttons:hover {
    background: #1a2667;

}