.template__header {
    position: fixed;
    width: 100%;
    height: 20%;
    overflow: hidden;
    background-position: 49% 32%;
    z-index: 999;
}

.template__header h1 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 100%;
    float: left;
    height: auto;
    font-family: 'hind_madurai', serif;
    font-size: 40px;
    font-weight: 800;
    color: #09134B;
}

.template__content {
    position: relative;
    width: 100%;
    height: 52%;
    overflow: hidden;
}

.template__wrapper {
    position: relative;
    width: 100%;
    height: auto;
    transition: margin .2s ease-in-out;
}

.template__ind {
    position: relative;
    background: #f2f2f2;
    width: 92%;
    height: auto;
    margin: 4% 4% 0 4%;
    padding: 5%;
    color: #151515;
    line-height: 1.5;
    letter-spacing: .12em;
    font-family: 'hind_madurai', serif;
    border-radius: 10px;
}

.template__ind h1 {
    width: 100%;
    float: left;
    height: auto;
    font-size: 30px;
    font-weight: 800;

}

.template__ind p {
    width: 100%;
    float: left;
    font-size: 18px;
    height: auto;
    letter-spacing: 0.1px;

}
