.define-text {
    color: #151515;
    line-height: 1.5;

    font-family: 'hind_madurai', serif;
}

.text-size__regular {
    font-size: 18px;
    letter-spacing: .12px;
}

.text-size__large {
    font-size: 5em;
    letter-spacing: .12em;
}

.text--light {
    font-weight: 200
}

.text--bold {
    font-weight: 800
}
