wrapper {
    will-change: 'transform';
    position: absolute;
    left: 0;
    width: 400%;
    height: 100%;
    background: grey;
    transition: transform .2s ease-in-out;
    cursor: pointer;
}

wrapper * {
    position: relative;
    display: block;
    float: left;
    width: 25%;
    height: 100%;
}
